body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: red;
}

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

ol { 
  color: red;
}